<p>Student list</p>

<table class="table table-striped table-dark" datatable [dtOptions]="dtOptions">
    <thead>
        <tr>
            <th scope=" col ">#</th>
            <th scope="col ">Name</th>
            <th scope="col ">Marks</th>
            <th scope="col ">Action</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of studentData ">
            <th scope="row ">{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.marks}}</td>
            <td>
                <i (click)="deleteStudent(item.id) " class="fa fa-trash "></i> &nbsp;

                <a routerLink="/edit/{{item.id}} "> <i class="fa fa-edit "></i>
                </a>
        </tr>

    </tbody>
</table>